<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTA Generator</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">CTA Generator</h1>
        <form method="post">
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter the URL">
            </div>
            <button type="submit" class="btn btn-primary">Generate CTAs</button>
        </form>

        {% if button_texts %}
        <div class="mt-5">
            <h3>CTAs:</h3>
            <ul class="list-group">
                {% for text, location in button_texts %}
                <li class="list-group-item">{{ text }} - Location from Top (px): {{ location }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <!-- Add Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
